body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00005C;
}

h1 {
  color: aliceblue;
  text-align: center;
}

.box {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.red {
  background-color: red;
  &.flash {
    background-color: rgb(255, 125, 125);
  }
}

.green {
  background-color: darkgreen;
  &.flash {
    background-color: rgb(125, 255, 201);
  }
}

.orange {
  background-color: orange;
  &.flash {
    background-color: rgb(255, 220, 125);
  }
}

.magenta {
  background-color: magenta;
  &.flash {
    background-color: rgb(255, 125, 212);
  }
}

.box-container {
  display: block;
  width: 50%;
  margin: auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.start-button {
  height: 50px;
  width: 200px;
  background-color: gold;
  border-radius: 50px;
  border: 2px solid red;
  cursor: pointer;
}

.flash.flash {
  border: 3px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

.score {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(39, 233, 217);
  border-radius: 50%;
  line-height: 50px;
  font-size: 50px;
}

.lost {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  line-height: 10px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}